html {
  background-color: #f1f1f1;
  font-family: 'Raleway', sans-serif;
}

.logo-1 {
  padding: 0;
  position: relative;
}

.logo-2 {
  position: absolute;
  top: 0;
  left: 1.5em;
  background-color: #4aa034;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

nav {
  background-color: #1a4b11;
}

nav a {
  color: #fff;
}

nav .current {
  color: #4aa034;
}

/** Toggle Navigation **/

.nav {
  display: none;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
}

.nav-check:checked ~ .nav {
  display: block;
}

/** End of Toggle Nav Code **/

footer {
  background-color: #1a4b11;
}
